/* --- MAGIA WYSUWANEGO PASKA --- */

.sidebar {
    position: fixed; /* Odklejamy go od strony, wisi nad wszystkim */
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh; /* Zajmuje całą wysokość ekranu */
    background-color: var(--kolor-ciemniejszy);
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
    z-index: 1000; /* Ustawia pasek na samym wierzchu (nad navbarem) */
    padding: 30px;
    display: flex;
    flex-direction: column;
    
    /* Ukrycie i animacja */
    transform: translateX(100%); /* Wyrzuca pasek w prawo poza ekran */
    transition: transform 0.5s ease-in-out; /* Płynny ruch */
}

/* Klasa aktywowana przez Angulara po kliknięciu */
.sidebar.open {
    transform: translateX(0); /* Wraca na pozycję zero (widoczną) */
}

/* Przyciemniane tło strony za paskiem */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 999; /* Pod paskiem, nad stroną */
}

/* Wygląd elementów wewnątrz paska */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--akcent-ciemniejszy);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.close-btn {
    background: none;
    border: none;
    color: var(--akcent-jasny);
    font-size: 24px;
    font-family: Minecraftia;
    cursor: pointer;
}

.close-btn:hover {
    color: white;
}

.sidebar-image {
    height: 250px;
    background-color: var(--kolor-jasniejszy);
    border-radius: 8px;
    margin-bottom: 20px;
}

.sidebar-price {
    font-size: 28px;
    color: var(--akcent-jasny);
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-desc {
    color: var(--tekst-ciemniejszy);
    line-height: 1.6;
    margin-bottom: 30px;
}

.add-to-cart {
    margin-top: auto; /* To automatycznie spycha przycisk koszyka na sam dół paska */
    padding: 15px;
    font-size: 18px;
    background-color: var(--akcent-okej);
}

.add-to-cart:hover {
    background-color: var(--akcent-jasny);
}
/* To zasada dla obrazka na karcie produktu */
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Magiczna komenda: przycina i skaluje obrazek tak, by idealnie wypełnił pudełko bez spłaszczania */
}

/* To samo dla obrazka w pasku bocznym */
.sidebar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Żeby obrazek miał te same zaokrąglenia co pudełko */
}
.product-image {
    height: 180px;
    background-color: var(--kolor-ciemniejszy);
    width: 100%;
}

.product-info {
    padding: 20px;
    text-align: center;
}

.price {
    color: var(--akcent-jasny);
    font-weight: bold;
    font-size: 20px;
}

.buy-button {
    width: 100%;
    padding: 10px;
    background-color: var(--akcent-ciemniejszy);
    border: none;
    color: var(--tekst);
    cursor: pointer;
    font-family: Minecraftia;
    border-radius: 5px;
}